body, html { 
    height: 100%;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

h2 {
  font-weight: 300;
}

.main-photo {
    background: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-width: 100%;
    min-height: 100%;
    display: block;
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    letter-spacing: 10px;
    line-height: 55px;
    font-size: 175%;
  }

  .about-me {
    margin: 0 auto;
    margin-top: 30px;
    width: 60%;
    text-align: center;
    min-height: 100%;
  }

  footer {
    text-align: center;
    background-color: #00274C;
    color: white;
  }

  .button--pandora {
    background: white;
    font-weight: 700;
    padding: 0;
    border-radius: 5px;
  }

  .button--pandora a {
    color: white;
    text-decoration: none;
  }
  
  .button--pandora span {
    display: block;
    background: #00274C;
    padding: 1.5rem 2rem;
    border: 1px solid white;
    border-radius: 5px;
    transform: translate3d(-4px, -4px, 0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }
  
  .button--pandora:hover span {
    transform: translate3d(-8px, -8px, 0);
  }

  .footer-links {
    padding-top: 10px;
  }

  .footer-copyright {
    padding-bottom: 10px;
  }